/* <![CDATA[ */
body {
	font-family: "Avenir Next", "Segoe UI", "Verdana";
	font-size: 16px;
	line-height: 25px;
}

p {
	padding-top: 4px;
}

.post_text img {
	max-width: 100%;
	max-height: 500px;
	height: auto;
	width: auto;
}

.post_text .mini_thumbnail {
	max-width: 18px;
	max-height: 18px;
	vertical-align: baseline;
	margin-bottom: -2px;
}

.container {
	max-width: 700px;
}

.admin_container {
	max-width: 1200px;
}

.admin_container img {
	max-width: 300px;
	max-height: 300px;
}

.container > h1, .container > h2 {
	height: 30px;
	padding-left: 70px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-image: url('https://2.bp.blogspot.com/-OzILjEoUTfw/XCAvR1DYFAI/AAAAAAAAApk/L41AHIkgdwkFAOLdn3oLFOjc2VkqmUnuwCLcBGAs/s1600/eksordiumblog.png');
	background-size: 320px 30px;
	background-repeat: no-repeat;
}

@media screen and (min-width: 320px) {
	h1 {
		height: 53px;
		background-size: 280px 53px;
	}
}

h1 .today, h2 .today {
	display: none;
}

h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	padding-top: 0px;
	padding-bottom: 5px;
	margin-top: 10px;
}

h2.about_title {
	font-size: 22px;
	font-weight: lighter;
	line-height: 28px;
	margin-top: 10px;
	text-align: center;
	background-image: url('/images/watercolor_header.jpg');
	background-size: 100% 70px;
	background-repeat: no-repeat;
	padding-top: 12px;
	padding-bottom: 20px;
	border-top: 1px solid #EFEFEF;
	color: black;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 5px;
	padding-right: 5px;
}

@media screen and (min-width: 460px) {
	h2.about_title {
		margin-left: -400px;
		margin-right: -400px;
	}
}

.about_subtitle {
	font-weight: 500;
	padding-bottom: 10px;
}

h3 {
	font-size: 22px;
	font-weight: normal;
	line-height: 28px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 0px;
}

#navbar {
	padding-top: 8px;
	padding-bottom: 10px;
}

.active {
	font-weight: bold;
}

.nav_spacer {
	display: inline-block;
	color: white;
}

.nav_divider {
	display: inline-block;
	color: lightgray;
	padding-left: 6px;
	padding-right: 6px;
}

.highlight {
	background-color: #FFF9D6;
}

#timeline_info {
	margin-top: 10px;
}

.posts {
	padding-top: 10px;
}

.about_quote {
	display: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
	padding-right: 20px;
	font-style: italic;
}

.about_questions {
	margin-top: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #EFEFEF;
}

.other_apps {
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 20px;
	border-top: 1px solid #EFEFEF;
}

.post {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.post_selected {
	background-color: #F6F6F6;
	border-radius: 5px;
}

.post_avatar {
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 6px;
}

.post_avatar img {
	border-radius: 24px;
	width: 48px;
	height: 48px;
}

.post_content {
	display: inline-block;
	vertical-align: top;
	width: 85%;
}

.post_username a {
	font-weight: bold;
	color: #333333;
}

.post_text {
	word-wrap: break-word;
}

.post_options {
	font-size: 12px;
	color: gray;
}

.post_time {
	display: inline-block;
}

.post_time a {
	color: gray;
}

.post_divider {
	display: inline-block;
	color: white;
	opacity: 0.0;
}

.post_reply {
	display: inline-block;
}

.post_delete {
	display: inline-block;
}

.post_favorite {
	display: inline-block;
}

.post_conversation {
	display: inline-block;
}

.post_replybox {
	padding-top: 10px;
}

.replybox_button {
	width: 80px;
	margin-left: 8px;
}

#register_form {
	padding-top: 14px;
}

#register_alert {
	margin-top: 20px;
}

#register_error {
	margin-top: 20px;
}

#signin_alert {
	margin-top: 20px;
}

#signin_error {
	margin-top: 20px;
}

.username_warning {
	margin-top: 5px;
	padding-left: 0px;
	font-size: 14px;
	color: darkgray;
}

#follow_div {
	display: inline-block;
}

#account_form {
	padding-top: 14px;
}

.account_feeds {
	padding-top: 3px;
}

.account_invites {
	padding-top: 3px;
}

.form_divider {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid lightgray;
}

#post_prompt {
	padding-top: 5px;
	padding-bottom: 10px;
}

#post_sample {
	padding-top: 8px;
	padding-bottom: 8px;
}

#posting_alert {
	margin-top: 10px;
}

.posting_chars_container {
	text-align: center;
	font-size: 14px;
	padding-top: 6px;
}

#posting_chars_count {
}

.posting_chars_twitter {
	color: gray;
}

.posting_chars_normal {
	color: black;
}

.posting_chars_error {
	color: red;
}

.posting_attachment {
}

#posting_audio_url {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 8px;
	font-size: 14px;
}

#posting_audio_group {
	display: none;
}

.posting_photo_button {
	margin-left: 8px;
}

.site_link a {
	color: black;
}

.sitename_prompt {
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 15px;
}

.sitename_input {
	width: 150px;
	display: inline;
	text-align: right;
}

.team_info {
	padding-top: 20px;
}

.billing_info {
	padding-top: 20px;
}

.newsite_themes {
	padding-top: 20px;
	padding-bottom: 10px;
}

.discover_users {
}

#feeds_table {
	margin-top: 30px;
	margin-bottom: 30px;
}

#add_feed {
}

#apps_table {
	margin-top: 30px;
	margin-bottom: 30px;
}

#add_app {
}

#domains_table {
	margin-top: 30px;
	margin-bottom: 30px;
}

#menus_table {
	margin-top: 15px;
	margin-bottom: 30px;
}

#menus_table .row {
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #EFEFEF;
}

.drag_handle {
	cursor: move;
	cursor: -webkit-grabbing;
}

.drag_chosen {
}

.drag_ghost {
}

.popover {
	min-width: 330px;
}

.popover_section_title {
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 0px;
}

.popover_section_body {
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 4px;
}

.CodeMirror {
	font-family: "Avenir Next", "Segoe UI", "Verdana";
	font-size: 15px;
	height: 100px;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 5px;
	background-color: #FBFBFB;
}

.register_options_container {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background-color: #FBFBFB;
}

.invite_help {
	padding-top: 8px;
	font-size: 14px;
	color: #5F5F5F;
}

.timeline_options_title {
	font-size: 16px;
}

.timeline_options_subtitle {
	padding-top: 4px;
	font-size: 14px;
	color: #5F5F5F;
}

.timeline_options_row {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 8px;
}

.register_options_title {
	font-size: 16px;
}

.register_options_subtitle {
	padding-top: 4px;
	font-size: 14px;
	color: #5F5F5F;
}

.register_options_row {
	padding-top: 5px;
	padding-bottom: 5px;
}

.register_options_radio {
	padding-top: 10px;
	padding-bottom: 10px;
}

.register_rss_group {
	padding-top: 20px !important;
	padding-bottom: 5px;
}

.subscribe_options_container {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background-color: #FBFBFB;
}

.subscribe_options_title {
	font-size: 16px;
}

.subscribe_options_subtitle {
	font-size: 14px;
	color: #5F5F5F;
}

.subscribe_options_radio {
	padding-top: 10px;
	padding-bottom: 10px;
}

.discover_featured {
	padding-top: 0px;
	padding-bottom: 10px;
}

.discover_results {
	padding-top: 10px;
}

.discover_user {
	padding-top: 5px;
	padding-bottom: 5px;
}

.discover_avatar {
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 4px;
}

.discover_avatar img {
	border-radius: 24px;
	width: 48px;
	height: 48px;
}

.discover_name {
	display: inline-block;
	vertical-align: top;
	width: 85%;
}

.discover_fullname {
	padding-top: 7px;
}

.discover_fullname a {
	color: black;
}

.discover_username {
	color: #5F5F5F;
}

.markdown_tips {
	font-size: 14px;
	color: darkgray;
	padding-top: 6px;
}

.markdown_link {
	color: black;
}

#mapping_form {
	padding-top: 14px;	
}

.mapping_group {
	padding-top: 14px;
	padding-bottom: 10px;
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	margin-top: 24px;
	margin-bottom: 15px;
}

.mapping_arrow {
	font-size: 18px;
	padding-top: 5px;
	text-align: center;
}

.iphone_screenshot {
	border: 0.5px solid #EFEFEF;
	margin-bottom: 10px;
}

.screenshots_footer {
	font-size: 15px;
	font-style: italic;
	text-align: center;
}

.mapping_themes {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 15px;
}

.mapping_title {
	padding-bottom: 20px;
	padding-top: 5px;
}

.mapping_themes_intro {
	padding-top: 5px;
}

.mapping_button_bar {
	margin-top: 10px;
	border-top: 1px solid #EFEFEF;
	padding-top: 20px;
}

.mapping_cname {
	padding-top: 15px;
}

.github_help {
	padding-top: 15px;
}

.mapping_github {
	padding-top: 15px;
	padding-bottom: 5px;
}

.theme_button {
	border: 1px solid #EFEFEF;
}

.theme_credits {
	float: right;
	font-size: 13px;
	padding-right: 7px;
}

.blog-pager-newer-link, .blog-pager-older-link{
	font-size: 13px;
	padding-right: 7px;
}
.blog-pager-older-link{
	float: left;
}
.blog-pager-newer-link{
	float: right;
}
.about_screenshots {
	text-align: center;
	padding-top: 18px;
}

.about_features {
	padding-top: 40px;
	border-top: 1px solid #EFEFEF;
	margin-top: 40px;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 40px;
	background-color: #FBFBFB;
	margin-left: -400px;
	margin-right: -400px;
	padding-left: 400px;
	padding-right: 400px;
	padding-bottom: 5px;
}

.about_features .row {
	padding-bottom: 20px;
}

.about_icon {
	margin-top: 10px;
	margin-left: 10px;
	max-width: 30px;
}

.about_bullet h4 {
	font-size: 14px;
	line-height: 22px;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px
}

.about_bullet p {
	font-size: 14px;
	padding-top: 0px;
}

.about_arrow {
	color: gray;
}

.pins_intro {
}

.pins_list {
}

.pin_container {
	display: block;
	padding-bottom: 20px;
}

.pin_icon {
	display: inline-block;
	vertical-align: top;
	width: 48px;
	height: 48px;
}

.pin_content {
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}

.pin_title {
	font-size: 13px;
	font-weight: 500;
}

.pin_description {
	font-size: 13px;
}

.pin_pending {
	color: gray;
}

.verification_status {
	display: none;
	padding-top: 10px;
	padding-bottom: 2px;
	font-size: 14px;
}

.about_info {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}

.about_edit {
	padding-top: 3px;
	text-align: center;
	font-size: 14px;
	width: 70px;
}

.inline_post_box {
	display: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #E7E7E7;
	margin-bottom: 10px;
}

.inline_post_placeholder {
	color: darkgray;
}

.admin_table {
	margin-top: 15px;
}

.admin_avatar {
	border-radius: 24px;
}

.admin_date_column {
	white-space: nowrap;
}

.admin_links_column {
	white-space: nowrap;
}

.admin_footer_column {
	text-align: center;
}

.posts_date_column {
	white-space: nowrap;
}

.posts_links_column {
	white-space: nowrap;
}

.account_posts_text {
	padding: 6px;
	font-size: 16px;
	line-height: 24px;
}

.account_posts_date {
	padding: 6px;
	font-size: 14px;
	line-height: 24px;
	color: gray;
}

.account_posts_date a {
	color: gray;
}

.account_posts_buttons {
	padding-top: 0px;
	padding-left: 6px;
}

.account_posts_header {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #E7E7E7;
	background-color: #FBFBFB;
}

.account_posts_hostname {
	padding-top: 5px;
}

.account_posts_intro {
	padding-top: 5px;
	padding-bottom: 15px;
}

.account_posts_footer {
	text-align: center;
}

.account_uploads_block {
	display: inline-block;
	padding: 20px;
}

.account_uploads_audio {
	padding: 20px;
	margin: 6px;
	background-color: #F3F3F3;
}

.account_uploads_video {
	padding: 20px;
	margin: 6px;
	background-color: #F3F3F3;
}

.account_uploads_date {
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 0px;
	font-size: 14px;
	line-height: 24px;
	color: gray;
}

.account_bar_hostname {
	color: black;
	font-weight: bold;
}

.uploadphoto_form {
	padding-top: 10px;
}

.account_deletephoto_section {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #EFEFEF;
}

p-location {
	display: none;
}

.posting-upgrade-alert {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bot_details {
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #EFEFEF;
}

.bot_payment {
	margin-top: 15px;
}

.subscriptions_card_form {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #E7E7E7;
	margin-top: 20px;	
	margin-bottom: 30px;	
	background-color: #FBFBFB;
}

.subscriptions_card_summary {
}

.subscriptions_card_details {
	display: none;
	padding-top: 20px;
	padding-bottom: 5px;
}

.invoice_lines {
	padding-top: 30px;
	padding-bottom: 15px;
}

.css_publish_alert {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 4px;
	border-radius: 4px;
	border: 1px solid #E7E7E7;
	background-color: #FBFBFB;
	font-size: 14px;
}

.menu_publish_alert {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 4px;
	border-radius: 4px;
	border: 1px solid #E7E7E7;
	background-color: #FBFBFB;
	font-size: 14px;
}

.timeline_options_alert {
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
	border: 1px solid #E7E7E7;
	background-color: #FBFBFB;
	font-size: 14px;
}

#account_alert {
	margin-top: 15px;
}

#account_notification {
	margin-top: 10px;	
}

#wordpress_form {
	padding-top: 10px;
}

#import_form {
	padding-top: 10px;
}

.indieauth_intro {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #EFEFEF;
}

.sms_intro {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #EFEFEF;
}

.mentions_bar {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #E7E7E7;
	margin-top: 8px;	
	margin-bottom: 8px;	
	background-color: #FBFBFB;
	font-size: 15px;
}

.mentions_new {
}

.mentions_blocked {
	float: right;
}

.cm-s-default .cm-link {
	color: #337ab7;
}

.cm-s-default .cm-url {
	color: gray;
}

.slack_form {
	padding-top: 15px;
}

.slack_message {
	margin-top: 25px;
}

img.wp-smiley {
	height: 1em;
	max-height: 1em;
}

.bot_kickstarter_container {
	padding-bottom: 25px;
}

.replyto_hidden {
	display: none;
}

.info_about_me {
	padding-top: 10px;
}

.grid_photo {
	display: inline-block;
	padding: 10px;
}

.grid_photo .grid_username {
	line-height: 30px;
}

.grid_photo img {
	width: 120px;
	height: 120px;
}

td.feed_cell {
	padding-top: 15px !important;
}

.feed_twitter {
	padding-left: 22px;
	background-image: url('/images/feed_twitter.png');
	background-size: 16px 18px;
	background-repeat: no-repeat;
}

.feed_medium {
	padding-left: 22px;
	background-image: url('/images/feed_medium.png');
	background-size: 16px 18px;
	background-repeat: no-repeat;
}

.feed_mastodon {
	padding-left: 22px;
	background-image: url('/images/feed_mastodon.png');
	background-size: 16px 18px;
	background-repeat: no-repeat;
}

.feed_linkedin {
	padding-left: 22px;
	background-image: url('/images/feed_linkedin.png');
	background-size: 16px 18px;
	background-repeat: no-repeat;
}

.feed_facebook {
	padding-left: 22px;
	background-image: url('/images/feed_facebook.png');
	background-size: 16px 18px;
	background-repeat: no-repeat;
}

.feed_enabled {
	padding-left: 22px;
	background-image: url('/images/feed_enabled.png');
	background-size: 16px 18px;
	background-repeat: no-repeat;
}

.feed_disabled {
	padding-left: 22px;
	background-image: url('/images/feed_disabled.png');
	background-size: 16px 18px;
	background-repeat: no-repeat;
}

.alert-warning b {
	color: black;
	font-weight: 500;
}

.alert-warning a {
	text-decoration: underline;
	text-decoration-color: black;
	-webkit-text-decoration-color: black;
}

.wordpress_import {
	border-bottom: 1px solid lightgray;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.subscriptions_no_active {
	padding-bottom: 20px;
}

.tagmoji {
	text-decoration: none;
}

.cancel_buttons {
	padding-top: 15px;
	padding-bottom: 15px;
}

.cancel_feedback {
	padding-top: 15px;
	padding-bottom: 25px;
}

#cancel_text {
	width: 100%;
	margin-bottom: 15px;
}

.account_posts_text img {
	max-width: 600px;
	height: auto;
}

.microcast_hostname {
	padding-top: 20px;
}

.microcast_plus_price {
	font-weight: 500; 
}

.mute_actions {
	text-align: right;
}

#articles_table {
	margin-top: 20px;
}

#mastodon_form {
	padding-top: 10px;
}

.more_container {
	display: none;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.invite_intro {
	padding-top: 5px;
	padding-bottom: 15px;
}

.invite_holiday {
	padding-bottom: 15px;
}

#invite_card_details {
	display: none;
	padding-left: 20px;
}

.slack_intro {
	padding-top: 20px;
}

.mastodon_field_prefix {
	padding-right: 3px;
}

.mastodon_field_domain {
	padding-left: 3px;
}

.mastodon_prefix {
	text-align: right;
}

.mastodon_info_link {
	text-decoration: underline;
}

#mastodon_error {
	margin-top: 20px;
}

.admin_activity {
	padding-top: 15px;
	padding-bottom: 15px;
}

a .invisible {
	display: none;
}

a .ellipsis::after {
	content: "...";
}

.themes_intro {
	padding-top: 5px;
	padding-bottom: 10px;
}

.themes_buttons {
	padding-top: 20px;
}
  /* ]]> */